# Image processing and computer vision
opencv-python==4.8.0.76  # OpenCV library for image manipulation and computer vision tasks

# Numerical computing
numpy==1.26.2            # Essential library for numerical and matrix operations

# Barcode and QR code handling
pyzbar==0.1.9            # Barcode and QR code decoder using ZBar
qrcode[pil]==7.4.2       # QR code generator with PIL (Python Imaging Library) support

# PNG image processing
pypng==0.20220715.0      # Lightweight library for encoding and decoding PNG images
